<table>
<% var i; for(i= 0; i < quizzes.length; i++) { %>
	<tr>
		<td><a href="quizzes/<%= quizzes[i].id %>"><%= quizzes[i].pregunta %></a></td>
		<td><a href="quizzes/<%= quizzes[i].id %>/edit"><button>Editar</button></a></td>
		<td>
        <form method="post" action="quizzes/<%= quizzes[i].id %>?_method=delete">
          <button type="submit" onClick="return confirm('Borrar: <%= quizzes[i].pregunta %>');">
            Borrar
          </button>
        </form>
      </td>
	</tr>
<% } %>
</table>
<p/>
<a href="/quizzes/new"><button type="button">Crear pregunta</button></a>